<div class="task">
    @for (task of tasks; track task) {
    <mat-list>
        <mat-list-item class="task__title">{{task.title}}</mat-list-item>
        <mat-list-item class="task__description">{{task.description}}</mat-list-item>
    </mat-list>
        <button class="task__button" (click)="removeTask(task)">Delete task</button>
        <button class="task__button" (click)="rootingService.navigateTo('edit-task/',task.id)">Edit task</button>
        <button class="task__button" mat-button (click)="rootingService.navigateTo('details-task/', task.id)">Task Details</button>
        <mat-divider></mat-divider>
    }
    <button mat-button (click)="rootingService.navigateTo('new-task')">Add new task</button>
</div>